.h1{

	margin-left: 100px;
	
}
.p1{

	margin-left: 100px;
	
}
.btn{
	margin-left: 100px;


}
li{


	margin-left: 20px;
}
.nav a{

	margin-left: 10px;
}

.p2{
	margin-bottom: 10em;
	font-size: 2em;
}

.form-control{


}

#form1{

	margin-left: 4em;
}




#btn1{
	margin-left: 1em;


}


#ju{

background-color:;
}